[submodule "meter-reading-acquisition"]
	path = meter-reading-acquisition
	url = https://github.com/dalvisanket/meter-reading-acquisition

[submodule "ebms-service-registry"]
	path = ebms-service-registry
	url = https://github.com/dalvisanket/ebms-service-registry.git
[submodule "billing"]
	path = billing
	url = https://github.com/dalvisanket/billing.git
